<footer class="text-white py-4 custom-footer mt-auto" style="background-color: #234099;">
  <div class="container">
    <div class="row">
      <!-- Column 1: Logo or Text -->
      <div class="col-12 col-md-4 mb-3">
        <img src="" alt="Avatar Logo" style="width:200px;" class="rounded-pill">
        <p>Remiges is a technology-driven software projects company. We build some of the world's best business applications for enterprise customers worldwide, using technology, thought and talent.</p>
      </div>
      <!-- Column 2: Links -->
      <div class="col-12 col-md-4 mb-3">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Home</a></li>
          <li><a href="#" class="text-white text-decoration-none">About</a></li>
          <li><a href="#" class="text-white text-decoration-none">Services</a></li>
          <li><a href="#" class="text-white text-decoration-none">Contact</a></li>
        </ul>
      </div>
      <!-- Column 3: Social Media Links -->
      <div class="col-12 col-md-4 mb-3">
        <h5>Follow Us</h5>
        <div>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i> Facebook</a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i> Twitter</a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i> Instagram</a>
          <a href="#" class="text-white"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2024 | Remiges | All Rights Reserved.</p>
    </div>
  </div>
</footer>
