<!-- display Question -->

<br>
<br>
<!-- <div class="row">
    <div class="col-2">
        <button class="btn btn-success" (click)="getAllQuestions()"></button>
    </div>
</div> -->


<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Question</th>
        <th>Option 1</th>
        <th>Option 2</th>
        <th>Option 3</th>
        <th>Option 4</th>
        <th>Difficulty</th>
        <th>Category</th>
        <th>Correct Answer</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questionList">
        <td>{{ question.id }}</td>
        <td>{{ question.questionTitle }}</td>
        <td>{{ question.option1 }}</td>
        <td>{{ question.option2 }}</td>
        <td>{{ question.option3 }}</td>
        <td>{{ question.option4 }}</td>
        <td>{{ question.difficultyLevel }}</td>
        <td>{{ question.category }}</td>
        <td>{{ question.rightAnswer }}</td>
        <td>
          <button class="btn update" [routerLink]="['/update', question.id]" >Update</button>
          <button class="btn delete" (click)="deleteQuestion(question.id)" >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  